@using Kendo.Mvc.UI
@using SistemaGeneraliz.Areas.Organizacion.Models
@using SistemaGeneraliz.Areas.Reclutamiento.Models

@{
    ViewBag.Title = "¡Trabaja con nosotros!";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";

    IList<AreaDTO> areas = ViewBag.areas;
    IList<EstadosSolicitudOfertaLaboralDTO> estadosSolicitudOferta = ViewBag.estadosSolicitudOferta;
    IList<PuestoDTO> puestos = ViewBag.puestos;
    SelectList lista = new SelectList(areas, "ID", "Nombre");
    SelectList listaEstados = new SelectList(estadosSolicitudOferta, "ID", "Descripcion");
    SelectList listaPuestos = new SelectList(puestos, "ID", "Nombre");
}

@{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("¡Trabaja con nosotros!", "Únete a nuestro equipo de trabajo"));}

<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-reorder"></i>Postúlate
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
        </div>
    </div>
    <div class="portlet-body">
        <div class="row-fluid">
            @(Html.Kendo().Grid<OfertaLaboralDTO>()
                .Name("datagrid")
                .Columns(columns =>
                    {
                        columns.Bound(p => p.ID);
                        columns.Bound(p => p.FechaPublicacion);
                        columns.Bound(p => p.FechaFinRequerimiento);
                        columns.ForeignKey(p => p.AreaID, lista);
                        columns.ForeignKey(p => p.PuestoID, listaPuestos);
                        columns.Command(command =>
                        {
                            command.Custom("Ver").Click("verOferta");
                            command.Custom("Postular").Click("postularConvocatoria");
                        }).Width(300);
                    }
                )
                    .Editable(editable => editable
                    .Mode(GridEditMode.PopUp)
                    .Window(w => { w.Title("Oferta Laboral"); w.Width(900); })
                )
                .Groupable()
                .Pageable(paper => paper.Refresh(true))
                .Filterable()
                .Sortable()
                .Scrollable(p => p.Height(330))
                .DataSource(dataSource => dataSource
                    .Ajax()
                    .PageSize(20)
                    .Model(model => model.Id(p => p.ID))
                    .Read(read => read.Action("Read", "Public"))
                )
               )
        </div>
    </div>
</div>

@(Html.Kendo().Window().Name("Details")
    .Title("Oferta Laboral")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(1000)
)

@(Html.Kendo().Window().Name("Details2")
    .Title("Postular a Oferta Laboral")
    .Visible(false)
    .Modal(true)
    .Draggable(true)
    .Width(1000)
)

<script>
    function verOferta(e) {
        console.log(e);
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        ID = dataItem.ID;
        var wnd = $("#Details").data("kendoWindow");
        $("#Details").load("@Url.Action("GetViewOferta", "Public")?ofertaID=" + ID, function () {
            wnd.center().open();
        });
    }

    function postularConvocatoria(e) {
        console.log(e);
        e.preventDefault();

        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
        ID = dataItem.ID;
        var wnd = $("#Details2").data("kendoWindow");
        $("#Details2").load("@Url.Action("GetViewPostulante", "Public")?ofertaID=" + ID, function () {
            wnd.center().open();
        });
    }
</script>
