@using Kendo.Mvc.UI
@using SistemaGeneraliz.Areas.Reclutamiento.Models
@using SistemaGeneraliz.Areas.Configuracion.Models
@using SistemaGeneraliz.Areas.Organizacion.Models
@using SistemaGeneraliz.Areas.Evaluacion360.Models

@model SistemaGeneraliz.Areas.Reclutamiento.Models.OfertaLaboralDTO
@{
    AreaDTO area = ViewBag.area;
    EstadosSolicitudOfertaLaboralDTO estadoSolicitudOferta = ViewBag.estadoSolicitudOferta;
    ModoSolicitudOfertaLaboralDTO modoSolicitudOferta = ViewBag.modoSolicitudOferta;
    PuestoDTO puesto = ViewBag.puesto;
    ColaboradorDTO responsable = ViewBag.responsable;
    IEnumerable<FuncionDTO> funciones = ViewBag.funciones;
    IEnumerable<CapacidadDTO> capacidades = ViewBag.capacidades;
    string funcionesJson = Json.Encode(funciones);
    string capacidadesJson = Json.Encode(capacidades);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div style="width: 900px;">
        <div class="row-fluid">
            <!-- contenedor superior izquierdo: campos -->
            <div class="span6">
                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.AreaID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("Area", area.Nombre, new { @readonly = "readonly" })

                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.PuestoID)</div>
                    </div>
                    <div class="span7">
                        @Html.TextBox("Puesto", puesto.Nombre, new { @readonly = "readonly" })
                    </div>
                </div>


                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ResponsableID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("Responsable", responsable.NombreCompleto, new { @readonly = "readonly" })
                    </div>
                </div>


                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ModoSolicitudID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("Modo", modoSolicitudOferta.Descripcion, new { @readonly = "readonly" })
                    </div>
                </div>


                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.EstadoSolicitudOfertaLaboralID)</div>
                    </div>
                    <div class="span7 responsive">
                        @Html.TextBox("Estado", estadoSolicitudOferta.Descripcion, new { @readonly = "readonly" })
                    </div>
                </div>
            </div>
            <!-- fin contenedor superior izquierdo: campos -->
            <!-- contenedor superior derecho: Datos -->
            <div class="span5">
                @Html.HiddenFor(model => model.ID)


                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.NumeroVacantes)</div>
                    </div>
                    <div class="span7">
                        @Html.TextBoxFor(model => model.NumeroVacantes, new { @readonly = "readonly" })

                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.SueldoTentativo)</div>
                    </div>
                    <div class="span7">
                        @Html.TextBoxFor(model => model.SueldoTentativo, new { @readonly = "readonly" })

                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.FechaRequerimiento)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.FechaRequerimiento, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span5">
                        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.FechaFinRequerimiento)</div>
                    </div>
                    <div class="span7">
                        <div class="editor-field" style="width: 100%; text-align: left;">
                            @Html.TextBoxFor(model => model.FechaFinRequerimiento, new { @readonly = "readonly" })
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin contenedor superior derecho: foto -->
        </div>
    </div>
    <!-- contenedor inferior: campos -->
    <div style="width: 900px;">
        <div class="row-fluid">
            @Html.Label("Detalles Convocatoria:", new { style = "font-weight: bold;" })

            <div class="row-fluid">
                <div class="span3">
                    <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Descripcion)</div>
                </div>
                <div class="span7">
                    <div class="editor-field" style="width: 100%; text-align: left;">
                        @Html.TextAreaFor(model => model.Descripcion, new { @readonly = "readonly" })
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <div style="width: 900px;">

        <div class="row-fluid">
            <div class="span6">
                @Html.Label("Lista Funciones:", new { style = "font-weight: bold;" })
                <div class="twit-reader">
                    <div id="list-view1"></div>
                </div>

            </div>


            <div class="span6">
                @Html.Label("Lista Competencias:", new { style = "font-weight: bold;" })
                <div class="twit-reader">
                    <div id="list-view2"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- fin contenedor inferior: campos -->

 
    <script type="text/x-kendo-tmpl" id="template">
    <div class="twit">
        <p>#:Nombre#</p>
    </div>
    </script>
    
    <script>
        $("#AreaID").change(function () {
            var areaID = $(this).val();
            $.getJSON("@Url.Action("_GetPuestos", "Colaboradores", new { Area = "Organizacion" })",
               { areaID: areaID },
               function (puestos) {
                   var select = $("#PuestoID");
                   select.empty();
                   select.append($('<option/>', {
                       value: 0,
                       text: ""
                   }));
                   $.each(puestos, function (index, itemData) {
                       select.append($('<option/>', {
                           value: itemData.ID,
                           text: itemData.Nombre
                       }));
                   });
               });
        });

        var funciones = '@Html.Raw(funcionesJson)';
        $("#list-view1").kendoListView({
            dataSource: jQuery.parseJSON(funciones),
            template: kendo.template($("#template").html())
        });

        var capacidades = '@Html.Raw(capacidadesJson)';
        $("#list-view2").kendoListView({
            dataSource: jQuery.parseJSON(capacidades),
            template: kendo.template($("#template").html())
        });
    </script>
}