@using SistemaGeneraliz.Models.Entities
@using SistemaGeneraliz.Models.ViewModels

@{
    ViewBag.Title = "Buscar Proveedores";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Búsqueda Automatizada de Proveedores</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="~/Scripts/mi_mapa.js"></script>
</head>
<body>
    @*    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Búsqueda Automatizada de Proveedores", "(*) Campos para realizar la búsqueda"));}

    @Html.ValidationSummary(true)
    <input type="hidden" name="clienteId" id="clienteId" value="@ViewBag.ClienteId">

    <table style="width: 100%; border: 0;">
        <tbody>
            <tr>
                <td style="vertical-align: top; width: 39%;">
                    <table>
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td>(*) Tipos de Servicios:</td>
                                <td>
                                    @Html.ListBox("tiposServicios", new MultiSelectList(ViewBag.TipoServicios, "TipoServicioId", "NombreServicio"), new { style = "width: 218px" })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top: 13px;">Fecha Aproximada:</td>
                                <td style="padding-top: 13px;">
                                    <input type="text" name="fecha" id="fecha" required="required" value="" placeholder="Seleccione la fecha" style="width: 220px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; width: 47%;">
                    <table style="width: auto; border: 0;">
                        <tbody style="vertical-align: top;">
                            <tr>
                                <td style="width: 22%;">(*) Ubicación:</td>
                                <td style="width: 10%;">
                                    <input type="hidden" name="Latitud" id="Latitud" value="@ViewBag.Latitud">
                                    <input type="hidden" name="Longitud" id="Longitud" value="@ViewBag.Longitud">
                                    <input type="text" name="ubicacion" id="ubicacion" required="required" readonly="readonly" value="@ViewBag.Ubicacion" @*style="text-align: right;"*@>
                                </td>
                                <td><a id="ver_mapa" type="button" class="btn" style="width: 110%; color: black; text-shadow: none; background-color: lightblue;" href="#modal_mapa" data-toggle="modal">Cambiar Ubicación</a></td>
                            </tr>
                            <tr>
                                <td>Descripción del Trabajo:</td>
                                <td>
                                    <textarea name="descripcion" id="descripcion" required="required" rows="3" placeholder="Ingrese la descripción del trabajo aquí"></textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="vertical-align: top; padding-top: 15px; width: 12%;">
                    <button id="btnBuscar" type="submit" class="btn blue pull-right" style="">
                        Buscar <i class="icon-search  m-icon-white"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="modal fade" id="modal_mapa" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4>Indique su ubicación en el mapa</h4>
        </div>
        <div class="modal-body" style="height: 400px;">
            <div id="map-canvas" style="margin: 0; padding: 0; height: 100%; width: 100%;"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" style="color: white; text-shadow: none; background-color: #35aa47;">Guardar</a>
        </div>
    </div>

    <div class="modal fade" id="modal_datos_contacto" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4>Datos de Contacto de Proveedores</h4>
        </div>
        <div class="modal-body" style="height: 400px;">
            Por favor, tome nota de los datos de contacto de los proveedores contratados.<br/><br/>
            <div id="GridDatos" style="margin-bottom: 10px;"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" style="color: black; text-shadow: none; background-color: lightgray;">Cerrar</a>
        </div>
    </div>

    <div class="modal fade" id="modal_trabajos" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4>Historial de Trabajos</h4>
        </div>
        <div class="modal-body" style="height: 400px;">
            <div id="GridTrabajos" style="margin-bottom: 10px;"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" style="color: black; text-shadow: none; background-color: lightgray;">Cerrar</a>
        </div>
    </div>
    
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption"><i class="icon-reorder"></i>Mejores Proveedores Encontrados</div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div id="Grid" style="margin-bottom: 10px;"></div>
        </div>
    </div>
    
    @*    <div>
        @Html.ActionLink("Regresar", "RegistrarUsuario", "Usuarios")
    </div>*@


    <div style="width: 11%; margin-left: auto; margin-right: auto;">
        <div style="display:none" id="modal_loading"><img src="/Images/loading.gif" /></div>
        <button id="btnContratar" type="submit" class="btn red pull-right" style="">
            Contratar <i class="icon-ok  m-icon-white"></i>
        </button>
    </div>

    <div style="width: 18%; margin-left: auto; margin-right: auto;">
        <a id="btnVerDatos" type="button" class="btn" style="width: 100%; color: black; text-shadow: none; background-color: lightblue; display: none" href="#modal_datos_contacto" data-toggle="modal">Ver Datos de Contacto</a>

    </div>

    <script>
        $(document).ready(function () {
            $("#fecha").kendoDatePicker({
                format: "dd/MM/yyyy",
                min: new Date
            });

            $("#tiposServicios").kendoMultiSelect({
                placeholder: "Servicios que desea..."
            });

            $("#Grid").kendoGrid({
                autoBind: false,
                scrollable: false,
                sortable: true,
                groupable: false,
                filterable: false,
                pageable: {
                    pageSize: 3,
                    numeric: true,
                    pageSizes: [3, 6, 9],
                },
                resizable: true,
                dataSource: {
                    schema: {
                        model: {
                            fields: {
                                ProveedorId: { type: "number", editable: false, hidden: true },
                                FotoId: { type: "number", editable: false },
                                Puntaje: { type: "number", editable: false },
                                NombreCompleto: { type: "string", editable: false },
                                Documento: { type: "string", editable: false },
                                Servicio: { type: "string", editable: false },
                                ServicioId: { type: "string", editable: false, hidden: true },
                                Descripcion: { type: "string", editable: false },
                                VerTrabajos: { editable: false },
                                NroRecomendaciones: { type: "string", editable: false },
                                NroVolveriaContratarlo: { type: "string", editable: false }
                            }
                        }
                    }
                },
                columns: [
                    { title: "ProveedorId", field: "ProveedorId"},
                    { title: "Foto", field: "FotoId", width: "100px",
                        attributes: {
                            style: "text-align: center"
                        }, template: "<img src='/Usuarios/GetImagen?imagenId=#=FotoId#' alt='' width='90' height='106'>"
                    },
                    { title: "Proveedor", field: "NombreCompleto", width: "120px" },
                    { title: "DNI / RUC", field: "Documento", width: "120px" },
                    { title: "Servicios Ofrecidos", field: "Servicio", width: "140px" },
                    { title: "Calificación", field: "Puntaje", width: "90px", format: '{0:n2}' },
                    { title: "#Recomend.", field: "NroRecomendaciones", width: "90px", format: '{0:n2}' },
                    { title: "#Volv. Contratarlo", field: "NroVolveriaContratarlo", width: "150px" },
                    { title: "Sobre Mí", field: "Descripcion", width: "130px" },
                    { title: "Trabajos Pasados", field: "VerTrabajos", width: "120px",
                        attributes: {
                            style: "text-align: center"
                        }, template: "<a id='btnVerTrabajos' type='button' class='btn' style='color: black; text-shadow: none; background-color: lightblue;' href='\\\#modal_trabajos' data-toggle='modal' onclick='return mostrarTrabajos(#=ProveedorId#);'>Ver</a>"
                    }
                ]
            });

            var grid = $("#Grid").data("kendoGrid");
            grid.hideColumn("ProveedorId");

            $("#GridDatos").kendoGrid({
                autoBind: false,
                sortable: true,
                groupable: false,
                filterable: false,
                pageable: {
                    pageSize: 5,
                    numeric: true,
                    pageSizes: true,
                },
                resizable: true,
                dataSource: {
                    schema: {
                        model: {
                            fields: {
                                NombreCompleto: { type: "string", editable: false },
                                Documento: { type: "string", editable: false },
                                Servicio: { type: "string", editable: false },
                                Telefono1: { type: "string", editable: false },
                                Telefono2: { type: "string", editable: false },
                                Telefono3: { type: "string", editable: false },
                                Email1: { type: "string", editable: false },
                                Email2: { type: "string", editable: false },
                            }
                        }
                    }
                },
                columns: [
                    { title: "Nombre / Razón Social", field: "NombreCompleto", width: "190px" },
                    { title: "DNI / RUC", field: "Documento" },
                    { title: "Servicios Ofrecidos", field: "Servicio" },
                    { title: "Teléfono 1", field: "Telefono1" },
                    { title: "Teléfono 2", field: "Telefono2" },
                    { title: "Teléfono 3", field: "Telefono3" },
                    { title: "Email 1", field: "Email1", },
                    { title: "Email 2", field: "Email2", }
                ]
            });

            $("#GridTrabajos").kendoGrid({
                autoBind: false,
                sortable: true,
                groupable: false,
                filterable: false,
                pageable: {
                    pageSize: 5,
                    numeric: true,
                    pageSizes: true,
                },
                resizable: true,
                dataSource: {
                    schema: {
                        model: {
                            fields: {
                                FechaTrabajo: { type: "string", editable: false },
                                NombreCliente: { type: "string", editable: false },
                                Servicios: { type: "string", editable: false },
                                DescripcionCliente: { type: "string", editable: false },
                                Puntuacion: { type: "string", editable: false },
                                ReciboHonorarios_Factura: { type: "string", editable: false },
                                Comentarios: { editable: false }
                            }
                        }
                    }
                },
                columns: [
                    { title: "Fecha", field: "FechaTrabajo", width: "90px" },
                    { title: "Cliente", field: "NombreCliente", width: "180px" },
                    { title: "Servicios Ofrecidos", field: "Servicios" },
                    { title: "Descripción Trabajo", field: "DescripcionCliente", width: "200px" },
                    { title: "Calificación", field: "Puntuacion", width: "90px" },
                    { title: "Recibo Hon. / Factura", field: "ReciboHonorarios_Factura" },
                    { title: "Comentarios", field: "Comentarios", }
                ]
            });
        });

        function mostrarTrabajos(i) {
            var dataSource3 = $('#GridTrabajos').data('kendoGrid').dataSource;
            dataSource3.read(); //para borrar las filas de la grilla.. no sé pero funciona XD
            var proveedorId = parseInt(i, 10);
            //alert(proveedorId);
            $.getJSON('/Clientes/HistorialTrabajosProveedor', { proveedorId: proveedorId, ajax: 'true' }, function (result) {
                $(result).each(function () {
                    dataSource3.add({
                        FechaTrabajo: this.FechaTrabajo, NombreCliente: this.NombreCliente, Servicios: this.Servicios, DescripcionCliente: this.DescripcionCliente,
                        Puntuacion: this.Puntuacion, ReciboHonorarios_Factura: this.ReciboHonorarios_Factura, Comentarios: this.Comentarios
                    });
                });
            });
            
            $("#modal_trabajos").attr('style', 'width: 90%;left:5%;margin-left:auto;margin-right:auto;');
        }

        $("#btnBuscar").click(function () {
            var multiselect = $("#tiposServicios").data("kendoMultiSelect");
            var valueServicios = multiselect.value().toString();

            if (valueServicios === "") {
                alert("Error: debe elegir por lo menos un servicio.");
                return;
            }

            var ubicacion = $("#ubicacion").val();
            if (ubicacion === "") {
                alert("Error: debe ingresar una ubicación.");
                return;
            }

            /* NO FUNCIONA. d1 ESTA EN FORMATO dd/MM/yyyy y d2 en formato MM/dd/yyyy por lo que no podemos comparar asi nomás
            else {
                var d1 = new Date(fecha);
                var d2 = new Date();
                if (d1 < d2) {
                    alert("Error: la fecha seleccionada " + d1 + " no puede ser menor que la fecha actual "+d2);
                    return;
                }
            }*/

            var latitud = $("#Latitud").val();
            var longitud = $("#Longitud").val();
            var dataSource = $('#Grid').data('kendoGrid').dataSource;
            dataSource.read(); //para borrar las filas de la grilla.. no sé pero funciona XD

            var dataSource2 = $('#GridDatos').data('kendoGrid').dataSource;
            dataSource2.read(); //para borrar las filas de la grilla.. no sé pero funciona XD

            $.getJSON('/Clientes/GetProveedoresBusquedaTabuJSON', { valueServicios: valueServicios, latitud: latitud, longitud: longitud, ajax: 'true' }, function (result) {
                $(result).each(function () {
                    dataSource.add({
                        ProveedorId: this.ProveedorId, Puntaje: this.Puntaje, FotoId: this.FotoId, NombreCompleto: this.NombreCompleto,
                        TipoDocumento: this.TipoDocumento, Documento: this.Documento, Servicio: this.Servicio, ServicioId: this.ServicioId, Descripcion: this.Descripcion,
                        NroRecomendaciones: this.NroRecomendaciones, NroVolveriaContratarlo: this.NroVolveriaContratarlo
                    });
                    dataSource2.add({
                        NombreCompleto: this.NombreCompleto, Documento: this.Documento, Servicio: this.Servicio, Telefono1: this.Telefono1, Telefono2: this.Telefono2,
                        Telefono3: this.Telefono3, Email1: this.Email1, Email2: this.Email2
                    });
                });
            });
            return;
        });

        $("#btnContratar").click(function e() {
            var multiselect = $("#tiposServicios").data("kendoMultiSelect");
            var valueServicios = multiselect.value().toString();

            if (valueServicios === "") {
                alert("Error: debe elegir por lo menos un servicio.");
                return;
            }

            var ubicacion = $("#ubicacion").val();
            if (ubicacion === "") {
                alert("Error: debe ingresar una ubicación.");
                return;
            }

            var fecha = $("#fecha").val();
            if (fecha === "") {
                alert("Error: debe ingresar una fecha.");
                return;
            }
            var desc = $("#descripcion").val();
            if (desc === "") {
                alert("Error: debe ingresar la descripción del trabajo.");
                return;
            }

            var data = $('#Grid').data('kendoGrid').dataSource.data();
            if (data.length === 0) {
                alert("Error: debe haber al menos un proveedor a contratar");
                return;
            }

            var proveedoresIds = "";
            var serviciosIds = "";

            $.each(data, function (index, item) {
                proveedoresIds += item.ProveedorId + ",";
                serviciosIds += item.ServicioId + ",";
            });

            var clienteId = $("#clienteId").val();
            var latitud = $("#Latitud").val();
            var longitud = $("#Longitud").val();
            $("#btnContratar").attr('style', 'display :none;');
            $.ajax({
                type: 'GET',
                url: '/Clientes/ContratarProveedores',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: {
                    clienteId: clienteId,
                    proveedoresIds: proveedoresIds,
                    serviciosIds: serviciosIds,
                    fecha: fecha,
                    ubicacion: ubicacion,
                    latitud: latitud,
                    longitud: longitud,
                    desc: desc
                },
                beforeSend: function () { $('#modal_loading').show(); },
                success: function (e) {
                    $('#modal_loading').hide();
                    //$("#modal_loading").attr('style', 'display :none;');
                    alert("Se realizó la contratación exitosamente.");
                    //window.location = "/Home/Index/";
                    $("#btnContratar").attr('style', 'display :none;');
                    $("#btnVerDatos").attr('style', 'width: 100%; color: black; text-shadow: none; background-color: lightblue;');
                    $("#btnBuscar").attr('style', 'display :none;');
                    $("#ver_mapa").attr('style', 'display :none;');
                    $("#descripcion").attr('readonly', true);
                    $("#descripcion").attr('style', "background-color: white !important;");
                    $("#ubicacion").attr('readonly', true);
                    $("#ubicacion").attr('style', "background-color: white !important;");
                    $("#fecha").data("kendoDatePicker").readonly();
                    $("#tiposServicios").data("kendoMultiSelect").readonly(true);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#modal_loading').hide();
                    //$("#modal_loading").attr('style', 'display :none;');
                    $("#btnContratar").attr('style', '');
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });

        $("#ver_mapa").click(function () {
            $("#ubicacion").attr('readonly', false);
            $("#modal_mapa").attr('style', '');
        });

        $("#btnVerDatos").click(function () {
            $("#modal_datos_contacto").attr('style', 'width: 90%;left:5%;margin-left:auto;margin-right:auto;');
        });
    </script>
</body>
</html>

