@using SistemaGeneraliz.Models.Entities
@using SistemaGeneraliz.Models.ViewModels
@model IList<PreguntasEncuestaViewModel>
@{
    ViewBag.Title = "Encuestas de Satisfacción al Cliente";
    EncuestasClientesViewModel encuestaViewModel = ViewBag.EncuestaViewModel;
    int limitePreguntasLadoIzq = ViewBag.LimitePreguntasLadoIzq;
    int limitePreguntasLadoDer = ViewBag.LimitePreguntasLadoDer;
    int i = 0;
    int k = 0;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Encuestas de Satisfacción al Cliente</title>
</head>
<body>
    <link rel="stylesheet" href="/Scripts/barrating/css/examples.css" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/Scripts/barrating/jquery.barrating.js"></script>

    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Encuestas de Satisfacción al Cliente", ""));}
    <div style="padding-left: 4%;">
        @*@Html.ValidationSummary(true)*@
        <input type="hidden" name="clienteId" id="clienteId" value="@encuestaViewModel.ClienteId">
        <input type="hidden" name="encuestaId" id="encuestaId" value="@encuestaViewModel.EncuestaClienteId">
        <input type="hidden" name="trabajoProveedorId" id="trabajoProveedorId" value="@encuestaViewModel.TrabajoProveedorId">
        <table style="width: 100%; border: 0;">
            <tbody>
                <tr>
                    <td style="vertical-align: top; width: 1%;">
                        <table>
                            <tbody style="vertical-align: top;">
                                <tr>
                                    <td>Documento:</td>
                                    <td>
                                        <input type="text" name="nroDocumento" id="nroDocumento" readonly="readonly" value="@encuestaViewModel.DocumentoProveedor">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Proveedor:</td>
                                    <td>
                                        <input type="text" name="nombreProveedor" id="nombreProveedor" readonly="readonly" value="@encuestaViewModel.NombreProveedor">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td style="vertical-align: top; width: 40%;">
                        <table>
                            <tr>
                                <td>
                                    <img id="imagen" src="@Url.Action("GetImagen", "Usuarios", new {imagenId = encuestaViewModel.FotoProveedor })" alt="" width="100" ></td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top; width: 59%; padding-left: 5%;">
                        <table style="width: auto; border: 0;">
                            <tbody style="vertical-align: top;">
                                <tr>
                                    <td>Fecha Trabajo:</td>
                                    <td>
                                        <input type="text" name="fechaTrabajo" id="fechaTrabajo" readonly="readonly" value="@encuestaViewModel.FechaTrabajo">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Descripción:</td>
                                    <td>
                                        <textarea name="descripcion" id="descripcion" readonly="readonly" rows="2">@encuestaViewModel.DescripcionCliente</textarea>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="portlet box blue" style="width: 95%;">
            <div class="portlet-title">
                <div class="caption"><i class="icon-reorder"></i>Cuestionario</div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <table style="vertical-align: top; width: 100%;">
                    <tr style="vertical-align: top; width: 100%;">
                        <td style="vertical-align: top; width: 50%; padding-left: 7%;">
                            <table>
                                @for (i = 0; i < limitePreguntasLadoIzq; i++)
                                {
                                    //@Html.HiddenFor(modelItem => modelItem[i].PuntajeOtorgado, new { id = "idPuntaje" })
                                    @Html.HiddenFor(x => x[i].CriterioId)
                                    <tr>
                                        <td>
                                            @(i + 1). @Model[i].PreguntaAsociada
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="input rating-f">
                                            @if (Model[i].TipoPregunta == "Estrellas")
                                            {
@*<select id="pregunta_@i" name="pregunta_@i">*@
                                                <input type="hidden" id="hdemo_@i" value=""/>   
                                                <select id="demo_@i" name="demo_@i">
                                                    @for (int j = 1; j <= Model[i].NroOpciones; j++)
                                                    {
                                                        <option value="@j">@j</option>
                                                    }
                                                </select>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                            </table>
                        </td>
                        <td style="vertical-align: top; width: 50%; padding-left: 8%;">
                            <table>
                                @for (k = i; k < limitePreguntasLadoDer; k++)
                                {
                                    @Html.HiddenFor(x => x[i].CriterioId)
                                    <tr>
                                        <td>
                                            @(k + 1). @Model[k].PreguntaAsociada
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="input rating-f">
                                            @if (Model[k].TipoPregunta == "Estrellas")
                                            {
                                                <input type="hidden" id="hdemo_@k" value=""/>
                                                <select id="demo_@k" name="demo_@k">
                                                    @for (int j = 1; j <= Model[k].NroOpciones; j++)
                                                    {
                                                        <option value="@j">@j</option>
                                                    }
                                                </select>
                                            }
                                            else
                                            {
                                                if (Model[k].TipoPregunta == "Si-No")
                                                {
  
                                                <input type="radio" name="SiNo_@Model[k].CriterioId" value="1" id="Si_@Model[k].CriterioId" /><text>Sí&nbsp;&nbsp;</text>
                                                <input type="radio" name="SiNo_@Model[k].CriterioId" value="0" id="No_@Model[k].CriterioId" /> <text>No</text>
                                                }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                }
                                <tr>
                                    <td>8. Comentarios</td>
                                </tr>
                                <tr>
                                    <td>
                                        <textarea id="comentarios" placeholder="Ingrese comentarios finales" style="width: 260px;"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="margin-left: auto; margin-right: auto;">
                                <div style="padding-left: 85%; display:none;" id="modal_loading"><img src="/Images/loading.gif" width="120"/></div>
                                <button id="btnEnviar" type="submit" class="btn green pull-right" style="">
                                    Enviar <i class="icon-ok  m-icon-white"></i>
                                </button>
                            </div>
                        </td>
                        <td style="padding-right: 39%;">
                            <div style="margin-left: auto; margin-right: auto;">
                                <button id="btnCancelar" class="btn red pull-right" style="">
                                    Cancelar <i class="  m-icon-white"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


    </div>

    <script>
        $('#demo_0').barrating({
            showValues: false, // If set to true, rating values will be displayed on the bars.
            showSelectedRating: false, //If set to true, user selected rating will be displayed next to the widget.
            onSelect: function (value, text) {
                $('input[id=hdemo_0]').val(value);
            }
        });
        $('#demo_1').barrating({
            showValues: false, // If set to true, rating values will be displayed on the bars.
            showSelectedRating: false, //If set to true, user selected rating will be displayed next to the widget.
            onSelect: function (value, text) {
                $('input[id=hdemo_1]').val(value);
            }
        });
        $('#demo_2').barrating({
            showValues: false, // If set to true, rating values will be displayed on the bars.
            showSelectedRating: false, //If set to true, user selected rating will be displayed next to the widget.
            onSelect: function (value, text) {
                $('input[id=hdemo_2]').val(value);
            }
        });
        $('#demo_3').barrating({
            showValues: false, // If set to true, rating values will be displayed on the bars.
            showSelectedRating: false, //If set to true, user selected rating will be displayed next to the widget.
            onSelect: function (value, text) {
                $('input[id=hdemo_3]').val(value);
            }
        });
        $('#demo_4').barrating({
            showValues: false, // If set to true, rating values will be displayed on the bars.
            showSelectedRating: false, //If set to true, user selected rating will be displayed next to the widget.
            onSelect: function (value, text) {
                $('input[id=hdemo_4]').val(value);
            }
        });

@*        $(document).ready(function () {
            for (var i = 1; i < '@ViewBag.NroPreguntasEstrellas'; i++) {
                //alert(i);

                $('#demo_' + i).barrating({
                    showValues: false, // If set to true, rating values will be displayed on the bars.
                    showSelectedRating: true, //If set to true, user selected rating will be displayed next to the widget.
                    onSelect: function (value, text) {
                        //alert('Rating: ' + value);
                        $('input[id=hdemo_'+i+']').val(value);
                    }
                });
            }
        });*@


        $("#btnEnviar").click(function e() {
            var elegidas = [];
            for (var i = 0; i < '@ViewBag.NroPreguntasEstrellas'; i++) {
                var elegida = $('#hdemo_' + i).val();
                //alert(elegida);
                elegidas.push(elegida);
            }
            var checkVolveria = $('input[name=SiNo_6]:checked');
            var checkRecomendaria = $('input[name=SiNo_7]:checked');

            if (checkVolveria.length <= 0) {
                alert("Error: por favor elija una opción para la pregunta 6");
                return;
            }

            if (checkRecomendaria.length <= 0) {
                alert("Error: por favor elija una opción para la pregunta 7");
                return;
            }
            
            var comentarios = $("#comentarios").val();
            
            if (comentarios === "") {
                alert("Error: por favor ingrese un comentario.");
                return;
            }

            elegidas.push(checkVolveria.val());
            elegidas.push(checkRecomendaria.val());
            var respuestas = "";
            for (i = 0; i < elegidas.length; i++) {
                respuestas += elegidas[i] + ",";
            }

            
            var encuestaId = $("#encuestaId").val();
            var trabajoProveedorId = $("#trabajoProveedorId").val();
            var clienteId = $("#clienteId").val();
            //mensaje de confirmacion aca xD
            //alert(respuestas);
            //return;
            $("#btnEnviar").attr('style', 'display :none;');
            $("#btnCancelar").attr('style', 'display :none;');
            $.ajax({
                type: 'GET',
                url: '/Clientes/EnviarEncuestaCliente',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: {
                    clienteId: clienteId,
                    encuestaId: encuestaId,
                    trabajoProveedorId: trabajoProveedorId,
                    respuestas: respuestas,
                    comentarios: comentarios,
                },
                beforeSend: function () { $('#modal_loading').show(); },
                success: function (e) {
                    $('#modal_loading').hide();
                    alert("Su encuesta ha sido enviada.");
                    window.location = "/Clientes/CalificarProveedores/";
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#modal_loading').hide();
                    $("#btnEnviar").attr('style', '');
                    $("#btnCancelar").attr('style', '');
                    alert(xhr.status);
                    alert(thrownError);
                }
            });
        });

        $("#btnCancelar").click(function e() {
            window.location = "/Clientes/CalificarProveedores/";
        });
    </script>
</body>
</html>
