@model SistemaGeneraliz.Models.ViewModels.PersonaJuridicaViewModel

@* *************************************** ATRIBUTOS DE PERSONA **************************************@

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.RUC)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.RUC, new { @readonly = "readonly" })<br />
            @Html.ValidationMessageFor(model => model.RUC)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.RazonSocial)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.RazonSocial)<br />
            @Html.ValidationMessageFor(model => model.RazonSocial)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.FechaCreacion)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 58%; text-align: left;">
            @*            @Html.EditorFor(model => model.FechaCreacion)<br />*@
            <input type="text" id="FechaCreacion" name="FechaCreacion" readonly='readonly' value="@Model.FechaCreacion.ToShortDateString()"/>
            @Html.ValidationMessageFor(model => model.FechaCreacion)
        </div>
    </div>
</div>

@* *************************************** DATOS DE CONTACTO **************************************@

@Html.Label("Datos de Contacto", new { style = "font-weight: bold; text-decoration: underline;" })
<br />

@*  //POR SI DECIDO USAR VARIAS CIUDADES
<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.IdCiudad)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            <select id="IdCiudad" name="IdCiudad">
                @for (int j = 0; j < ViewBag.Ciudades.Count; j++)
                {                               
                    <option value="@ViewBag.Ciudades[j].Value">@ViewBag.Ciudades[j].Text</option>
                }
            </select>
        </div>
    </div>
</div>
*@

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.IdDistrito)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            <select id="IdDistrito" name="IdDistrito" @*style="width: 215px"*@>
                @for (int j = 0; j < ViewBag.Distritos.Count; j++)
                {                               
                    <option value="@ViewBag.Distritos[j].Value"
                                    @if (ViewBag.Distritos[j].Value == Model.IdDistrito.ToString())
                                    {
                                         @:selected="selected"
                                    }
                                    >@ViewBag.Distritos[j].Text</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Direccion)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextAreaFor(model => model.Direccion)<br />
            @Html.ValidationMessageFor(model => model.Direccion)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Referencia)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextAreaFor(model => model.Referencia)<br />
            @Html.ValidationMessageFor(model => model.Referencia)
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.Latitud)
@Html.HiddenFor(model => model.Longitud)

@*<input type="hidden" id="Latitud" name="Latitud" value="-12.08611459617003" />
<input type="hidden" id="Longitud" name="Longitud" value="-77.00229406356812" />*@

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left; font-size: 14px; font-weight: normal; line-height: 20px;">Ubicación</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            <a id="ver_mapa" type="button" class="btn" style="width: 54%; color: black; text-shadow: none; background-color: lightblue;" href="#modal_mapa" data-toggle="modal">Ver Mapa</a>
        </div>
    </div>

    <div class="modal fade" id="modal_mapa" style="z-index: -1;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal"></a>
            <h4>Indique su ubicación en el mapa</h4>
        </div>
        <div class="modal-body" style="height: 400px;">
            <div id="map-canvas" style="margin: 0; padding: 0; height: 100%; width: 100%;"></div>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-primary" data-dismiss="modal" style="color: white; text-shadow: none; background-color: #35aa47;">Guardar</a>
        </div>
    </div>
</div>

<br />

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Email1)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.Email1)<br />
            @Html.ValidationMessageFor(model => model.Email1)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Email2)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.Email2)<br />
            @Html.ValidationMessageFor(model => model.Email2)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Telefono1)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.Telefono1)<br />
            @Html.ValidationMessageFor(model => model.Telefono1)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Telefono2)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.Telefono2)<br />
            @Html.ValidationMessageFor(model => model.Telefono2)
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span5">
        <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Telefono3)</div>
    </div>
    <div class="span7">
        <div class="editor-field" style="width: 100%; text-align: left;">
            @Html.TextBoxFor(model => model.Telefono3)<br />
            @Html.ValidationMessageFor(model => model.Telefono3)
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#FechaCreacion').datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0",
            maxDate: 'today',
            showButtonPanel: false,
            dateFormat: 'dd/mm/yy'
        }).focus(function () {
            var thisCalendar = $(this);
            $('.ui-datepicker-close').click(function () {
                var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                thisCalendar.datepicker('setDate', new Date(year, month, 1));
            });
        });
    });
</script>
