@model SistemaGeneraliz.Models.Helpers.LoginModel
@{
    ViewBag.Title = "Iniciar Sesión";
            //Layout = "~/Views/Shared/_NoLayout.cshtml";
}

<!-- BEGIN BODY -->
<div class="login" style="padding-top: 75px;">
    <!-- BEGIN LOGIN -->
    <div class="content" style="width: 291px; margin: 0 auto; margin-bottom: 50px; padding: 30px; padding-top: 20px; padding-bottom: 15px; background-color: #444 !important;">
        <!-- BEGIN LOGIN FORM -->
        @using (Html.BeginForm("Login", "Usuarios", FormMethod.Post, new { @id = "formLogin", @class = "form-vertical login-form" }))
        {
            <h3 class="form-title" style="text-align: center; color: white">Iniciar Sesión</h3>
            @Html.ValidationSummary(true)
            <div class="alert alert-error hide">
                <button class="close" data-dismiss="alert"></button>
                <span>Ingrese su usuario y contraseña.</span>
            </div>
            <div class="control-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">DNI | RUC</label>
                <div class="controls">
                    <div class="input-icon left" style="border-left: 3px solid #35aa47 !important; height: 34px;">
                        <i class="icon-user"></i>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap placeholder-no-fix required", @style = "background: white; width: 249px; border-left: 0 !important; ", @maxlength = "11", @placeholder = "DNI | RUC" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label visible-ie8 visible-ie9">Contraseña</label>
                <div class="controls">
                    <div class="input-icon left" style="border-left: 3px solid #35aa47 !important; height: 34px;">
                        <i class="icon-lock"></i>
                        @Html.PasswordFor(m => m.Password, new { @class = "m-wrap placeholder-no-fix required", @style = "background: white;width: 249px; border-left: 0 !important;", @maxlength = "50", @placeholder = "Contraseña" })
                    </div>
                </div>
            </div>
            <div @*class="form-actions"*@ style="margin-top: 20px;margin-bottom: 20px;">
                <label class="checkbox" style="color: white; padding-left: 6px !important;">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @style = "margin-left: 0px;" }) Recordarme
                </label>
                <button type="submit" class="btn green pull-right">
                    Entrar <i class="m-icon-swapright m-icon-white"></i>
                </button>
            </div>
        }
        <!-- END LOGIN FORM -->
        @Html.ValidationMessage("LoginError")
    </div>

    <!-- END LOGIN -->
    <!-- BEGIN COPYRIGHT -->

    <!-- END COPYRIGHT -->
    @{Html.RenderPartial("_CustomJavascripts");}

</div>
