@{
    ViewBag.Title = "Registrar Usuario";
}
@{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Registrar Usuario", "Elija un tipo de usuario"));}
<br/>
<ul>
    <li>
        <h5>@Html.ActionLink("Soy cliente natural", "RegistrarClienteNatural", "Clientes")</h5>
    </li>
    <li>
        <h5>@Html.ActionLink("Soy cliente jurídico", "RegistrarClienteJuridico", "Clientes")</h5>
    </li>
    <li>
        <h5>@Html.ActionLink("Soy proveedor natural", "RegistrarProveedorNatural", "Proveedores")</h5>
    </li>
    <li>
        <h5>@Html.ActionLink("Soy proveedor jurídico", "RegistrarProveedorJuridico", "Proveedores")</h5>
    </li>
    <li>
        <h5>@Html.ActionLink("Soy tienda/cadena de ferretería", "Index", "Proveedores")</h5>
    </li>
</ul>