@model SistemaGeneraliz.Models.ViewModels.SuministradorJuridicoViewModel

@{
    //Layout = null;
    ViewBag.Title = "Registrar Suministrador Juridico";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar Suministrador Juridico</title>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    <script src="~/Scripts/mi_mapa.js"></script>
</head>
<body>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @{Html.RenderPartial("Titulo", new SistemaGeneraliz.Models.Helpers.PageTitle("Registrar Suministrador Juridico", "Por favor complete los siguientes campos."));}
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    
        <div style="width: auto;">
            <div class="row-fluid">
                <!-- contenedor superior izquierdo: campos -->

                <div class="span7">
                    @Html.Label("Datos Personales", new { style = "font-weight: bold; text-decoration: underline;" })

                    @* *************************************** ATRIBUTOS DE PERSONA **************************************@
                    <br />

                    @{Html.RenderPartial("~/Views/Usuarios/_RegistrarPersonaJuridica.cshtml");}

                    @* *************************************** ATRIBUTOS DE SUMINISTRADOR Y CUENTA **************************************@

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.LeadsDisponibles)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.EditorFor(model => model.LeadsDisponibles)<br />
                                @Html.ValidationMessageFor(model => model.LeadsDisponibles)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.LeadsReserva)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.EditorFor(model => model.LeadsReserva)<br />
                                @Html.ValidationMessageFor(model => model.LeadsReserva)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.PaginaWeb)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextBoxFor(model => model.PaginaWeb, new { @placeholder = "http://pagina.com" })<br />
                                @Html.ValidationMessageFor(model => model.PaginaWeb)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Facebook)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextBoxFor(model => model.Facebook, new { @placeholder = "http://facebook.com/perfil" })<br />
                                @Html.ValidationMessageFor(model => model.Facebook)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.AcercaDeMi)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextAreaFor(model => model.AcercaDeMi)<br />
                                @Html.ValidationMessageFor(model => model.AcercaDeMi)
                            </div>
                        </div>
                    </div>

                    @Html.Label("Datos de Cuenta", new { style = "font-weight: bold; text-decoration: underline;" })
                    <br />
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ImagenPrincipal)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextBoxFor(model => model.ImagenPrincipal)<br />
                                @Html.ValidationMessageFor(model => model.ImagenPrincipal)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.Password)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextBoxFor(model => model.Password, new { @type = "password" })<br />
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span5">
                            <div class="editor-label" style="width: 100%; text-align: left;">@Html.LabelFor(model => model.ConfirmPassword)</div>
                        </div>
                        <div class="span7">
                            <div class="editor-field" style="width: 100%; text-align: left;">
                                @Html.TextBoxFor(model => model.ConfirmPassword, new { @type = "password" })<br />
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                    </div>

                    <button id="btnGuardar" type="submit" class="btn green pull-right" style="margin-right: 22%;">
                        Guardar <i class="icon-ok-sign  m-icon-white"></i>
                    </button>

                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Regresar", "RegistrarUsuario", "Usuarios")
    </div>

    <script>
        $("#ver_mapa").click(function () {
            $("#modal_mapa").attr('style', '');
        });
    </script>
</body>
</html>
